$trans: all 0.2s ease-in-out;
$boxShadow1: 0 2px 4px rgba(0, 0, 0, 0.08);


$generalBlack: #242424;
$primaryPink: #e51391;
$whiteBlued: #F0F8FF;
$lightGray: #f5f5f7;
$generalWhite: #F8FAFC;
$complementBlue: #5BE7FF;
$primaryBlue: #0085F4;
$secondaryBlue: #00378E;
$thirdBlue: #003366;
$darkPurple: #1B1D5C;
$neutralGray: #9fa6b1;
